<mat-toolbar class="header mat-elevation-z4">
  <div class="grid-layout">
    <nav class="nav">
      <div>
          <h2 class="title">Portfolio</h2>
      </div>
      <div class="mobile-menu"></div> 
      <div>         
          <ul class="nav-list">
            <li>
              <a class="about">Quem sou</a></li>
            <li>
              <a class="Projects">Projetos</a>
            </li>
            <li>
              <a class="skills">Conhecimentos</a>
            </li>
            </ul>
        </div>
        
    </nav>
  </div>
</mat-toolbar>