.header {
  position: fixed;
  background-color: #0e091b;;
  color: #fafafa;
  font-family: "IBM Plex Sans";
    
}
.header .grid-layout {
  width: 100%;
  /* background: green; */
}
.header .grid-layout .nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* background: purple; */
  
}
.header .grid-layout .nav .nav-list {
    display: flex;    
    list-style: none;
    /* background: red; */
    
}

.title { 
    font-size: 1.8rem;
}

.header .grid-layout .nav .nav-list a{
    padding: 25px;
    font-size: 1.4rem;
    font-weight: 300;
}
.mobile-menu {
  display: none ;
  
}

@media screen and (max-width: 992px) {
  .nav-list {
    visibility: hidden;}
  } 



/*
@media screen and (max-width: 992px) {
    li {
        margin-left: 0px;
    }
    .nav {
      top: 200px;
    }
    .nav-list {
    visibility: hidden;
  }
  header .grid-layout nav .nav-list li {
    opacity: 0;
    margin-bottom: 48px;
  }
  header .grid-layout nav .nav-list li a {
    font-size: 2.4rem;
  }
  .mobile-menu {
    display: block;
    
  }
} */
