<mat-toolbar class="header mat-elevation-z4">
  <div class="grid-layout">
    <nav class="nav">
      <div routerLink="/">
          <h2 class="title">Portfolio</h2>
      </div>
      
      <div>         
          <ul class="nav-list">
            <li>
              <a class="about" routerLink="/">Quem sou</a></li>
            <li>
              <a class="projects">Projetos</a>
            </li>
            <li>
              <a class="skills" routerLink="/skills">Conhecimentos</a>
            </li>
            </ul>
        </div> 
        <div class="mobile-menu">
        <i class="material-icons">
            home
        </i>
      </div>        
    </nav>
  </div>
</mat-toolbar>