.header {
  position: fixed;
  background-color: #0e091b;;
  color: #cccccc;
  font-family: "IBM Plex Sans";
}

.header .grid-layout {
  width: 100%;
}

.header .grid-layout .nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header .grid-layout .nav .nav-list {
    display: flex;    
    list-style: none;
}

.title { 
    font-size: 1.8rem;
}

.header .grid-layout .nav .nav-list a{
    padding: 25px;
    font-size: 1.4rem;
    font-weight: 300;
}

.mobile-menu {
  display: none ;
  
}

@media screen and (max-width: 992px) {
  .nav-list {
    display: none;
  }
  .about, .projects, .skills{
    display: none;
  }
    .nav{
      width: 100%;
    }
    .mobile-menu {
      display: flex;
      justify-content:flex-end;
    }
  } 

a {
  text-decoration: none;
  color: #cccccc;
}

a:hover {  
  color: #fafafa;
}
.mobile-menu div {
  width: 32px;
  height: 1px;
  background-color: #fafafa;
  margin: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-list.active {
  visibility: initial;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.title {
  color: #fafafa;
}