<div class="grid-layout">    
    <div class="pag">
        <div id="about-photo">
            <img src="assets/image/jr.png"
            width="400" 
            height="400"
            alt="foto do desenvolvedor"
            class="photo"
            id="photo-jr"
            />        
        </div>
        <article id="about-text">
            <h2>Quem sou</h2>
            <p class="typewriter">
               Meu nome é Gedson Pinto Jr, ou "Pinto Júnior". Sou 
               Engenheiro de Software formado, com experiencia 
               progressiva em Tecnologia da Informação, freelancer 
               como Front-end developer, adoro andar de moto e tomar 
               um bom café...
            </p>
        </article>

    </div>
</div>