<!-- <div class="background">
    <mat-sidenav-container class="sidenav-container">
        <mat-nav-list>
            
        </mat-nav-list>
        <div id="app">
            <div class="container">
                <mat-card class="matc">
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-container>
</div> -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'" 
    [fixedInViewport]="mobileQuery.matches" >
    <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/" (click)="ngAfterViewInit()">
            <i class="material-icons">
                person
            </i>
            Quem sou
        </a>
        <a mat-list-item (click)="ngAfterViewInit()">
            <i class="material-icons">
                code
            </i>
            Projetos
        </a>
        <a mat-list-item routerLink="skills" (click)="ngAfterViewInit()">
            <i class="material-icons">
                terminal
            </i>
            Conhecimentos
        </a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" >
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
