
.grid-layout {
    width: 100%;
    height: 100%;
    /* padding: 48px 16px; */
    
}

#skills {

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    /* margin: 24px 0px; */
}

#skills article {
    background-color: #0e091b;
    height: auto;
    padding: 32px;
    margin: 8px;
    border: 1px solid #0e091b;
}

#skills #skills-cards {
    display: flex;
    /* background: white; */
    flex-wrap: wrap;
    justify-content: center;
    /* width: 20%; */
    flex-grow: 1;
    /* height: 130px; */
    /* width: 20%; */
    gap: 15px;

}
#skills-cards article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #110e1b;
    position: relative;
    border: 1px solid #0e091b;
    transition: 1s all ease;
}
.grid-layout #skills #skills-cards article:hover {
    border: 1px solid #3d4cee;
}

#skills #skills-text h2 {
    line-height: 1.8rem;
    color: #fffdfd;
    font-family: "DM Sans";
    font-size: 1.8rem;
    /* background: red; */
    padding: 0px 16px;
}

#skills #skills-text p {
    width: 85%;
    text-align: justify;
    padding: 0px 16px;
}

#skills #skills-text {
    min-height: 200px;
    width: 100%;
    padding: 10px;
}



span {
    display: none;
}

@media screen and (max-width: 768px) {
    .grid-layout #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* top: -25px; */
        margin: 0px 0px 60px 0px;
        

    }

    .grid-layout #skills #skills-text {
        width: 100%;
        /* margin-top: -70; */
        margin: 0px 0px 70px 0px;
        /* background: red; */
    }

    .grid-layout #skills-cads {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* flex-grow: 1; */
        
    }

    #skills article {
        padding: 10px;
        margin: 1px;
        top: -25px;
    }
}
.grid-layout #skills #skills-cards article:hover .skills-cards-name,
.grid-layout #skills #skills-cards article:hover .skills-cards-name-high,
.grid-layout #skills #skills-cards article:hover .skills-cards-name-low {
    display: block;
    text-align: center;
}


.grid-layout #skills #skills-cards article .skills-cards-name,
.grid-layout #skills #skills-cards article .skills-cards-name-high,
.grid-layout #skills #skills-cards article .skills-cards-name-low {
    
    height: auto;
    position: absolute;
    /* padding: 5px; */    
    background-color: #110e1b;
    /* width: 125px; */
    color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    font-size: 1.05rem;
}
.grid-layout #skills #skills-cards article .skills-cards-name-high {
    top: -30px;
}
.grid-layout #skills #skills-cards article .skills-cards-name-low {
    bottom: -30px;
}

.grid-layout #skills #skills-cards article .aumento-hover {
    bottom: -75px;
}