
<div class="grid-layout">
    <div id="skills">
        <article id="skills-text">
            <h2 class="delaySmallReveal">Conhecimentos</h2>
            <p class="delayMediumReveal changeDescription">{{passe}}</p>
        </article>
        <div id="skills-cards">
            <article class="html intervalCardReveal" (mouseover)="over('html')" (mouseout)='out()'>
                <span class="skills-cards-name-high">HTML</span>
                <img
                    src="assets/image/icons/html5.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do HTML 5"
                    class="skills-icons"
                    />
            </article>
            <article class="css intervalCardReveal" (mouseover)="over('css')" (mouseout)='out()'>
                <span class="skills-cards-name-high">CSS</span>
                <img src="assets/image/icons/css3.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do Css 3"
                    class="skills-icons"
                />
            </article>
            <!-- <article class="javascript">
                <img 
                    src="assets/image/icons/js.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do html"
                    class="skills-icons"
                />
            </article> -->
            <article class="js intervalCardReveal" (mouseover)="over('javascript')" (mouseout)='out()'>
                <span class="skills-cards-name-high">Javascript</span>
                <!-- src="assets/image/icons/js.svg" -->
                <img 
                    src="assets/image/icons/javascript.svg"                    
                    width="60px"
                    height="60px"
                    alt="ícone do Javascript"
                    class="skills-icons"
                />
            </article>
            <article class="angular" (mouseover)="over('angular')" (mouseout)='out()'>
                <span class="skills-cards-name-high">Angular</span>
                <img 
                    src="assets/image/icons/angular2.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do Angular"
                    class="skills-icons"
                />
            </article>
            <article class="material" (mouseover)="over('material')" (mouseout)='out()'>
                <span class="skills-cards-name-high">Material</span>
                <img 
                    src="assets/image/icons/material.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do Material"
                    class="skills-icons"
                />
            </article>
            <!-- <article class="bootstrap" (mouseover)="over('bootstrap')" (mouseout)='out()'>
                <img 
                    src="assets/image/icons/bootstrap.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do BootStrap"
                    class="skills-icons"
                />
            </article> -->
            <article class="git" (mouseover)="over('git')" (mouseout)='out()'>
                <span class="skills-cards-name-high">Git/Github</span>
                <!-- src="assets/image/icons/github.svg"
                src="assets/image/icons/github2.svg" -->
                <img 
                    src="assets/image/icons/git.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do Git"
                    class="skills-icons"
                />
            </article>
            <article class="typescript" (mouseover)="over('typescript')" (mouseout)='out()'>
                <span class="skills-cards-name-high">TypeScript</span>
                <img 
                    src="assets/image/icons/typescript.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do Typescript"
                    class="skills-icons"
                />
            </article>            
            <!-- <article class="nodejs" (mouseover)="over('nodejs')" (mouseout)='out()'>
                <img 
                    src="assets/image/icons/nodejs.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do NodeJS"
                    class="skills-icons"
                />
            </article> -->
            <!-- <article class="docker" (mouseover)="over('docker')" (mouseout)='out()'>
                <img 
                    src="assets/image/icons/docker3.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do Docker"
                    class="skills-icons"
                />
            </article>            -->
            <article class="vscode" (mouseover)="over('vscode')" (mouseout)='out()'>
                <span class="skills-cards-name-high">VsCode</span>
                <img 
                    src="assets/image/icons/vs.svg"
                    width="60px"
                    height="60px"
                    alt="ícone do Visual Studio Code"
                    class="skills-icons"
                />
            </article>
            
        </div>
    </div>
</div>
