.grid-layout {
    width: 100%;
    height: 100%;

}

.grid-layout #skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    flex-wrap:nowrap;
    height: auto;
    padding: 8px;
    width: 100%;
    
}

/* .grid-layout #skills div,
.grid-layout #skills article {
    width: 50%;
} */

/* @media screen and (max-width: 1200px) {

    .grid-layout #skills div,
    .grid-layout #skills article {
        width: 100%;
    }
} */

.grid-layout #skills #skills-text {
    min-height: 200px;
    text-align:justify;
    width:80%;
    
}

.grid-layout #skills #skills-text h2 {
    /* margin-bottom: 32px; */
    color: #fafafa;
    font-size: 1.6rem;
    font-weight: 500;
    
}

.grid-layout #skills #skills-text h2 span {
    color: #6610f2;
    /* font-size: 64px; */
}

.grid-layout #skills #skills-text .changeDescription {
    -webkit-transition: 2s all ease;
    transition: 2s all ease;
}

.grid-layout #skills #skills-text p {
    max-width: 500px;
    line-height: 1.2rem;
    color: #cccccc;
    font-family: "DM Sans";
    font-size: 1.1rem;
    /* width: 100%; */
}

.grid-layout #skills #skills-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
}

@media screen and (max-width: 1200px) {
    .grid-layout #skills #skills-cards {
        margin-top: 48px;
    }
}

.grid-layout #skills #skills-cards article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    background-color: #110e1b;
    position: relative;
    border: 1px solid #0e091b;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

.grid-layout #skills #skills-cards article:hover {
    border: 1px solid #6610f2;
}

.grid-layout #skills #skills-cards article:hover .skills-cards-name,
.grid-layout #skills #skills-cards article:hover .skills-cards-name-high,
.grid-layout #skills #skills-cards article:hover .skills-cards-name-low {
    display: block;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .grid-layout #skills #skills-cards article {
        /* width: 40%; */
        /* margin: 20px 0px; */
    }
    .grid-layout #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }
    
    #skills-text {
        width: 100%;
    }
    
    .grid-layout #skills-cads {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* flex-grow: 1; */
    }
}

.grid-layout #skills #skills-cards article .skills-cards-name,
.grid-layout #skills #skills-cards article .skills-cards-name-high,
.grid-layout #skills #skills-cards article .skills-cards-name-low {
    left: 50%;
    height: auto;
    position: absolute;
    padding: 5px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-color: #110e1b;
    width: 120px;
    color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    /* font-size: 1.1rem; */
}

.grid-layout #skills #skills-cards article .skills-cards-name-high {
    top: -50px;
}

.grid-layout #skills #skills-cards article .skills-cards-name-low {
    bottom: -50px;
}

.grid-layout #skills #skills-cards article .aumento-hover {
    bottom: -75px;
}

.grid-layout #skills #skills-cards article .skills-icons {
    width: 60px;
}